* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
	text-transform: capitalize;
}

li:hover {
	border-bottom: 1px solid goldenrod;
	cursor: pointer;
}

.main-heading {
	font-size: 36px;
	align-items: center;
	text-align: center;
}
.linee {
	background: goldenrod;
	margin: 8px auto;
	height: 3px;
	width: 50px;
}

.menu {
	display: flex;
	gap: 50px;
	font-size: 22px;
	color: goldenrod;
	font-weight: 500;
	justify-content: center;
	margin-top: 30px;
}

.main-body {
	max-width: 0 auto;
	margin-top: 36px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.item {
	margin: 30px;
	width: 500px;
	display: flex;
	gap: 10px;
	border: 2px solid goldenrod;
	padding: 20px 30px;
}

.item .item-img {
	border: 1px solid gainsboro;
}

.item-desc-wrapper .item-title {
	display: flex;
	justify-content: space-between;
	padding-bottom: 6px;
	border-bottom: 2px solid #dddddd;
}

.item-desc-wrapper .item-desc {
	color: gray;
	margin: 10px 0;
}
